<%- include('partials/header') %>
    <title>Wishlist</title>
</head>
<body style="background-color: #F7F7FF">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #FB3640;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Secret Santa</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/user/<%= currentUserId %>">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/create-event">Create Event</a>
                    </li>
                </ul>
                <form class="d-flex ms-auto" action="/logout?_method=DELETE" method="post">
                    <button class="btn text-light" type="submit">Logout</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1 class="display-2 text-center"><%= userName %></h1>
        <% if (currentUserId === userId) { %>
            <h2>Your wishlist</h2>
        <% } else { %>
            <h2><%= userName %>'s Wishlist</h2>
        <% } %>
        <div class="row mb-3">
            <div class="col-4">
                <ul class="list-group list-group-flush border border-success rounded shadow" style="font-size: 20px">
                    <% for (let item of items) { %>
                        <li class="list-group-item">
                            <% if (currentUserId === userId ) { %>
                                <form action="/event/<%= eventId %>/<%= userId %>/<%= item.id %>/delete?_method=DELETE"
                                      method="post">
                                    <%= item.name %>
                                    $<%= item.price %>
                                    <button type="submit" class="btn-close" aria-label="Close"></button>
                                </form>
                            <% } else { %>
                                <%= item.name %>
                                $<%= item.price %>
                            <% } %>
                        </li>
                    <% } %>
                </ul>
            </div>
            <div class="col-4"></div>
            <% if (currentUserId === userId) { %>
                <div class="col-4 border rounded border-success shadow" style="background-color: #FFFFFF;">
                    <h2>Add item</h2>
                    <form action="/event/<%= eventId %>/<%= userId %>" method="post">
                        <div class="row mb-3">
                            <div class="col">
                                <label for="name">Item name</label>
                                <input class="form-control" id="name" type="text" placeholder="item name"
                                       name="name">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="price">Price</label>
                                <input class="form-control" id="price" type="number" placeholder="price" name="price">
                            </div>
                        </div>
                        <button class="btn text-light mb-3" style="background-color: #FB3640;">Add item</button>
                    </form>
                </div>
            <% } %>
        </div>
        <% if (currentUserId === userId) { %>
            <div class="row">
                <h2>Your recipient is <a href="/event/<%= eventId %>/<%= recipientId %>"><%= recipientName %></a></h2>
            </div>
        <% } %>
    </div>
<%- include('partials/footer') %>