<h1><%= userName %>'s Wishlist</h1>
<ul>
    <% for (let item of items) { %>
        <li>
            <form action="/santa/event/<%= eventId %>/<%= userId %>/<%= item.id %>/delete?_method=DELETE" method="post">
                <%= item.id %>
                <%= item.name %>
                $<%= item.price %>
                <button style="background-color: transparent; outline: none; border: none; background-repeat: no-repeat; cursor: pointer;">&times</button>
            </form>
        </li>
    <% } %>
</ul>
<% if (currentUserId === userId) { %>
    <h2>Add item</h2>
    <form action="/santa/event/<%= eventId %>/<%= userId %>" method="post">
        <section>
            <label for="name">Item name: </label>
            <input id="name" type="text" placeholder="item name" name="name">
        </section>
        <section>
            <label for="price">Price: </label>
            <input id="price" type="text" placeholder="price" name="price">
        </section>
        <button>Add item</button>
    </form>
<% } %>