<%- include('partials/header') %>
    <title>Your Events</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Secret Santa</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/user/<%= userId %>">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/create-event">Create Event</a>
                    </li>
                </ul>
                <form class="d-flex ms-auto" action="/logout?_method=DELETE" method="post">
                    <button class="btn text-light">Logout</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1 class="display-2 text-center">Hello there</h1>
        <div class="row">
            <div class="col-3">
                <h1 class="display-4">Your Events</h1>
                <ul class="list-group list-group-flush border rounded border-dark shadow">
                    <% for (let event of events) { %>
                        <li class="list-group-item">
                            <a href="/event/<%= event.id %>/"><%= event.name %></a>
                        </li>
                    <% } %>
                </ul>
            </div>
            <div class="col-3"></div>
            <div class="col-6">
                <h1 class="display-4">Invites</h1>
                <% if (invites.length !== 0) { %>
                    <ul>
                        <% for (let invite of invites) { %>
                            <li>
                                <form action="/user/<%= userId %>/invite/<%= invite.id %>" method="post">
                                    <%= invite.id %>
                                    <%= invite.message %>
                                    <button class="btn btn-success">Accept</button>
                                    <button class="btn btn-danger" formaction="/user/<%= userId %>/invite/<%= invite.id %>?_method=DELETE" formmethod="post" type="submit">
                                        Decline
                                    </button>
                                </form>
                            </li>
                        <% } %>
                    </ul>
                <% } else { %>
                    <h1>No invites</h1>
                <% } %>
            </div>
        </div>
    </div>
<%- include('partials/footer') %>