<a href="/santa/create-event">Make an event</a>
<h1>Your Events</h1>
<ul>
    <% for (let event of events) { %>
    <li>
        <a href="/santa/event/<%= event.id %>/<%= userId %>"><%= event.name %></a>
    </li>
    <% } %>
</ul>
<% if (invites.length !== 0) { %>
    <h2>Invites</h2>
    <ul>
        <% for (let invite of invites) { %>
            <li>
                <%= invite.id %>
                <%= invite.message %>
            </li>
        <% } %>
    </ul>
<% } %>